/*google font*/
@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color: black;
    overflow-x: hidden;
}

/*Custom scroll bar css*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-start-end-radius: 12px;
    transition: all 0.3s ease;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: greenyellow;
}

/*naviation bar*/
nav {
    width: 100%;
    height: 10vh;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: greenyellow;
    text-shadow: 0 0 10px greenyellow, 0 0 20px greenyellow, 0 0 30px greenyellow;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp(2.5rem, 0.5rem + 6vw, 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background: greenyellow;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: greenyellow;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2 linear;
}

.dropdown .links a:hover {
    background: greenyellow;
}

section {
    width: 100%;
    min-height: 90vh;
}

section .main-container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
}

.main-container .image {
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px greenyellow;
}

.main-container .image img {
    width: 100%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    width: 40%;
    color: white;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: greenyellow;
    text-shadow: 0 0 10px greenyellow;
}

.content .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
    color: white;
}

.content .typewriter-text {
    color: greenyellow;
    text-shadow: 0 0 10px greenyellow;
    border-right: 3px solid greenyellow;
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        border-color: greenyellow;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: greenyellow;
    }
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

/*About section*/
section .content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: greenyellow;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
}

section .topic {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: white;
}

section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: greenyellow;
    color: black;
    font-weight: 400;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    background-color: white;
    border-color: greenyellow;
    color: greenyellow
}

/*skills*/
.skills {
    background: black
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-details .text {
    width: 100%;
}

.skills h3 {
    color: white;
}

.skills .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.skills .box {
    margin: 20px 0;
    width: calc(100% / 3 -20px);
    text-align: center;
    border-radius: 12px;
    padding: 40px 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}

.skills .boxes .box:hover {
    background: greenyellow;
    color: white;
}

/*Projects*/
.porjects {
    background: black;
}

.project-box {
    margin-bottom: 80px;
}

.slider {
    width: 90%;
    max-width: 1200px;
    height: 600px;
    /* default height for desktop screens */
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px greenyellow;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    opacity: 50%;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: white;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.actice {
    width: 30px;
}

.project-box {
    margin-bottom: 100px;
}


@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
}

/*Contact section*/
.contact {
    width: 100%;
    padding: 60px 0;
    background: black;
}

.contact .content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.contact .title span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.contact .phoneNumber,
.contact .Email {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    margin: 20px 0;
    gap: 15px;
}

.contact i {
    color: greenyellow;
    font-size: 28px;
}

.contact span {
    color: white;
    font-size: 22px;
}